<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ca.uwaterloo.gsd.fsml.outline.viewerContribution1"
            targetID="#CompilationUnitEditorContext">
         <action
               class="ca.uwaterloo.gsd.fsml.outline.popup.actions.FSMLModelOutlineView"
               icon="icons/outline_co.gif"
               id="ca.uwaterloo.gsd.fsml.outline.action"
               label="Show FSML Outline"
               menubarPath="group.show">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="ca.uwaterloo.gsd.fsml.outline.FSMLModelOutlineView"
         name="FSML Model Outline"
         point="org.eclipse.ui.views">
      <view
            category="ca.uwaterloo.gsd.fsml.viewCategory"
            class="ca.uwaterloo.gsd.fsml.outline.popup.actions.FSMLModelOutlineView"
            icon="icons/outline_co.gif"
            id="ca.uwaterloo.gsd.fsml.outline.FSMLModelOutlineView"
            name="FSML Model Outline">
      </view>
   </extension>

</plugin>
